.navigation {
    width: 100%;

}

.navigationLink {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color : #8F8F8F
}

.navigationLink:hover {
    color: #ffffff;
    background-color: #2F2F2F;
}

.navigationLinkActive{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color : #ffffff;
    background-color: #474747;

}


.cole{
    font-weight : bold;
    color: aliceblue;
}