
/* Animate rotation */
.rotate {
  animation: rotate 2s linear infinite;
  animation-direction: reverse;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }