
/* Animate rotation */
.rotate {
  animation: rotate 2s linear infinite;
  animation-direction: reverse;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


/* The @keyframes rule defines the animation */
@keyframes slideInFromRight {
    /* The animation will start at 100% from the right (offscreen) */
    0% {
      transform: translateX(5%);
      opacity: 0;
    }
    /* At 60% the element will be fully visible and in its final position */
    60% {
      transform: translateX(0);
      opacity: 1;
    }
    /* At 100% the animation will be complete */
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }




  .fadeInFromRight {
    animation: slideInFromRight 1s ease-in-out;
  }